*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans SC', sans-serif;
}

.centrar {
  text-align: center;
  /*
  background-image: url(/src/img/background.png);
  background-size: 100%; 
  */
}

.color-principal {
  background-color: #3F38C4;
  color: white;
}

.color-secundario {
  background-color: #F9C04D;
  color: white;
}

.color-terciario {
  background-color: #F4F7F9;
}

.text-box {
  border-radius: 10px;
  height: 170px;
  width: 80%;
}

.text-box-resultado {
  border-radius: 10px;
  background-color: #F4F7F9;
  height: 170px;
  width: 80%;
}

h4 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.inline {
  display: inline-block;
}

.box-number {
  margin-top: 20px;
}