*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans SC', sans-serif;
}

.centrar {
  text-align: center;
}

.color-principal {
  background-color: #3F38C4;
  color: white;
}

.color-secundario {
  background-color: #F9C04D;
  color: white;
}

.color-terciario {
  background-color: #F4F7F9;
}

.text-box {
  border-radius: 10px;
  height: 170px;
  width: 80%;
  background-color: #F4F7F9;
  border-style: none;
}

.text-box-resultado {
  border-radius: 10px;
  background-color: #F4F7F9;
  height: 170px;
  width: 80%;
  overflow: auto;
}

h4 {
  margin-top: 15%;
  margin-bottom: 10%;
  font-size: 1.7em;
}

.inline {
  display: inline-block;
}

.box-number {
  margin-top: 50px;
}

.input-number {
  border-style: none;
  border-radius: 10px;
  background-color: #F4F7F9;
  width: 70px;
  
}

.main {
  background-image: url(img/background2-80.png);
  background-attachment: fixed;
  background-repeat: repeat;  
}

.color-letra {
  color: white;
  font-variant: inherit;
  font-weight: bold;
}

.btn {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 30px;
  margin-bottom: 85px;
}

